<h4>incomplete task</h4>
<%= render :partial => 'tasks', :locals => {:tasks => @incomplete_tasks} %>

<h4>complete task</h4>
<%= render :partial => 'tasks', :locals => {:tasks => @completed_tasks} %>


