<%- model_class = Task -%>
<script>

</script>
<div class="page-header">
</div>
<%= select("categories", "category_id", Category.all.collect {|p| [ p.name, p.id ] }, { :include_blank => true }) %>
<div id='tasks'>

<%= render 'index' %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_task_path,
            :class => 'btn btn-primary' %>
</div>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_category_path,
            :class => 'btn btn-primary' %>

